<h2><%= @cocktail.name %></h2>
<
<TABLE BORDER=5 CELLPADDING=0 CELLSPACING=0 ALIGN="CENTER">
<TR><TD>
<FORM ACTION="../doses/new.html.erb">
<INPUT TYPE="SUBMIT" VALUE="Par ici !"></TD>
</FORM></TR>
</TABLE>

